# executables and binaries
*.exe
*.out
*.o

# movies and pics
*.avi
*.zip
*.jpg
*.png
*.mp4
*.h264
*.mp4

# other
*.dat
*.csv
*.log
*.json
*.dot
*__orio*

# diretories
*/build/*

# git script
git_acp.bash

# tuned files
*_compute_LUP_inline.c
*_multiply_matrix.c
*_multiply_matrix_by_scalar.c
*_transpose_matrix.c
*_add_mat.c
*_predict.c
*_correct.c 

